<% if (theme.valine.enable && theme.valine.appId && theme.valine.appKey){ %>
  <section id="comments" class="vcomment"></section>
<% } %>
<% if (theme.gitalk.enable && theme.gitalk.client_id && theme.gitalk.client_secret){ %>
  <section id="comments" class="vcomment"></section>
<% } %>
