<% if (theme.share.local_share){ %>
    <div class="social-share">
      <span><%= __('shareto') %>:</span>
    </div>
<% } %>
<% if (theme.share.baidu_share){ %>
    <div class="bdsharebuttonbox">
      <span style="float:left;line-height: 28px;height: 28px;font-size:16px;font-weight:blod"><%= __('shareto') %>:</span>
      <a href="#" class="bds_more" data-cmd="more"></a>
      <a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
      <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
      <a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
      <a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a>
      <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
      <a href="#" class="bds_evernotecn" data-cmd="evernotecn" title="分享到印象笔记"></a>
      <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
      <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
      <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    </div>
<% } %>
