.widget
  .widget-title
    i(class='fa fa-you')= ' ' + __('blogroll')
  - for (var i in theme.links)
    ul
    a(href='#{theme.links[i].url}' title='#{theme.links[i].title}' target='_blank') #{theme.links[i].title}
