if theme.comment.duoshuo
  .widget
    .comments-title
      i(class='fa fa-commt')= ' ' + __('recent_comments')
    .ds-recent-comments(data-num-items='5' data-show-avatars='0' data-show-time='1' data-show-admin='0' data-excerpt-length='32' data-show-title='1')
if theme.comment.disqus
  .widget
    .widget-title
      i(class='fa fa-commt')= ' ' + __('recent_comments')
    
