if theme.swiftype
  .widget
    input.st-default-search-input(placeholder='Search' type='text')
if theme.tinysou
  .widget
    form
      input#ts-search-input(class='ts-search-input' placeholder='Search' type='text')
if theme.local_search == true
  .widget
    #search-form
      #result-mask.hide
      label
        input#search-key(type="text",autocomplete="off",placeholder="请输入关键字...")
      #result-wrap.hide
        #search-result
      .hide
        template#search-tpl
          .item
            a(href="/{path}",title="{title}")
              .title {title}
              .time {date}
              .tags {tags}
