@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0
input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px white inset

@font-face
  font-family: iconfont
  font-style: normal
  font-weight: normal
  src: url("./iconfont/iconfont.eot?t=1609335860402")
  src: url("./iconfont/iconfont.eot?t=1609335860402#iefix") format("embedded-opentype"),
       url("./iconfont/iconfont.woff?t=1609335860402") format("woff"),
       url("./iconfont/iconfont.woff?t=1609335860402") format("woff"),
       url("./iconfont/iconfont.ttf?t=1609335860402") format("truetype"),
       url("./iconfont/iconfont.svg?t=1609335860402#iconfont") format("svg")

html, body, #container
  height: 100%

body
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: color-background url(banner-url) no-repeat top center
  background-attachment: fixed
  font: font-size font-sans
  color: color-default
  width:100%
  height:100%

.hide
    display: none
    opacity: 0
    height: 0

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width
  @media mq-mobile
    padding: 0 mobile-gutter-width

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

.fixed
  position:fixed
  top:0
.fixed.scroll
  overflow-y: scroll
  max-height: 100%

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/iconfont"
@import "_partial/header"
@import "_partial/article"
@import "_partial/about"
@import "_partial/reward"
// @import "_partial/comment"
@import "_partial/archive"
@import "_partial/pagination"
@import "_partial/footer"
@import "_partial/highlight"

if sidebar
  @import "_partial/sidebar"
