#footer
  .footer-info
    p
      if theme.baidusitemap
        a(href=config.root+"baidusitemap.xml")= __("baidusitemap")
        |  |  
      if theme.feed
        a(href=config.root+"atom.xml")= __("footer_rss")
        |  |  
      a(href=config.root+"about/")= __("contact_author")
    if theme.busuanzi == true
      p 本站总访问量：
        i#busuanzi_container_site_pv
          i#busuanzi_value_site_pv
        | 次，本站总访客数:
        i#busuanzi_container_site_uv
          i#busuanzi_value_site_uv
        | 人
    p
      span  Copyright &copy;
        a(href=url_for('.'), rel='nofollow')= (config.author || config.title) + '.'
      span  Theme by
        a(rel='nofollow', target='_blank', href='https://github.com/chaooo/hexo-theme-BlueLake')  BlueLake.
      if theme.busuanzi == true
        span  Count by
          a(href="http://busuanzi.ibruce.info/")  busuanzi.
      span  Powered by
        a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
