#footer
  .footer-info
    p
      a(href="/baidusitemap.xml") 网站地图
      |  |
      a(href="/atom.xml") 订阅本站
      |  |
      span 联系博主：
        a.fa.fa-email(href="mailto:#{theme.about.email}",target="_blank") 
        a.fa.fa-weibo(href="#{theme.about.weibo_url}",target="_blank")
        a.fa.fa-github(href="#{theme.about.github_url}",target="_blank") 
    p
      span  Copyright &copy;
        a(href=url_for('.'), rel='nofollow')= config.author || config.title + '.'
      span  Powered by
        a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
      span
        a(rel='nofollow', target='_blank', href='https://github.com/chaooo/hexo-theme-BlueLake')  Theme 
        | by
        a(rel='nofollow', target='_blank', href='https://github.com/chaooo')  Charles.