if theme.duoshuo_share
  div(class='ds-share flat' data-thread-key=page.path, data-title=page.title, data-url=page.permalink)
   .ds-share-inline
      ul.ds-share-icons-16
        li(data-toggle='ds-share-icons-more')
          a(href='javascript:void(0);').ds-more= __('shareto')
            | :
        li
          a(href='javascript:void(0);' data-service='weibo').ds-weibo 微博
        li
          a(href='javascript:void(0);' data-service='qzone').ds-qzone QQ空间
        li
          a(href='javascript:void(0);' data-service='qqt').ds-qqt 腾讯微博
        li
          a(href='javascript:void(0);' data-service='wechat').ds-wechat 微信
      .ds-share-icons-more

if theme.baidu_share
  .bdsharebuttonbox
    span(style="float:left;line-height: 28px;height: 28px;font-size:16px;font-weight:blod") 分享到：
    a.bds_more(href='#', data-cmd='more')
    a.bds_mshare(href="#",data-cmd="mshare",title="分享到一键分享")
    a.bds_fbook(href='#', data-cmd='fbook', title='分享到Facebook')
    a.bds_twi(href='#', data-cmd='twi', title='分享到Twitter')
    a.bds_linkedin(href='#', data-cmd='linkedin', title='分享到linkedin')
    a.bds_youdao(href='#', data-cmd='youdao', title='分享到有道云笔记')
    a.bds_evernotecn(href='#', data-cmd='evernotecn', title='分享到印象笔记')
    a.bds_weixin(href='#', data-cmd='weixin', title='分享到微信')
    a.bds_qzone(href='#', data-cmd='qzone', title='分享到QQ空间')
    a.bds_tsina(href='#', data-cmd='tsina', title='分享到新浪微博')

if theme.JiaThis_share
  .jiathis_style
      span.jiathis_txt 分享到：
      a.jiathis_button_tsina
      a.jiathis_button_qzone
      a.jiathis_button_weixin
      a.jiathis_button_fb
      a.jiathis_button_linkedin
      a.jiathis_button_twitter
      a.jiathis_button_ydnote
      a.jiathis.jiathis_txt.jiathis_separator.jtico.jtico_jiathis(href="http://www.jiathis.com/share")
      a.jiathis_counter_style

if theme.addToAny_share && theme.addToAny_share.length > 0
  .addToAny_share
    = __("shareto") + " : "
    a(href="https://www.addtoany.com/share?linkurl="+url+"&linkname="+page.title target="_blank")
      img(src="https://static.addtoany.com/buttons/a2a.svg" width="16" height="16" style="vertical-align:middle")
    | &nbsp;
    each a2a_item in theme.addToAny_share
      a(href="https://www.addtoany.com/add_to/"+a2a_item+"?linkurl="+url+"&linkname="+page.title target="_blank")
        img(src="https://static.addtoany.com/buttons/"+a2a_item+".svg" width="16" height="16" style="vertical-align:middle")
      | &nbsp;
