#comments
  background: color-block-background
  box-shadow: block-shadow
  padding: article-padding
  border: 1px solid color-border
  border-radius: 3px
  margin: block-margin 0
  a
    color: color-link