#footer
  padding: 30px 0
  color: color-default
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  text-align: center
  font-size: 0.85em
  p
    margin: 5px 0
  i 
    font-style: normal
    &.fa
      font-size: 12px
  span
    padding: 0 5px