// iconfont
.fa
  font-size: 16px
  font-style: normal
  &:before
    font-family: iconfont!important
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: auto
.fa-home:before
  content: "\e001"
.fa-classify:before
  content: "\e002"
.fa-user:before
  content: "\e003"
.fa-rss:before
  content: "\e004"
.fa-date:before
  content: "\e005"
.fa-commt:before
  content: "\e006"
.fa-search:before
  content: "\e007"
.fa-tag:before
  content: "\e008"
.fa-top:before
  content: "\e009"
.fa-archive:before
  content: "\e00a"
.fa-next:before
  content: "\e00b"
.fa-prev:before
  content: "\e00c"
.fa-views:before
  content: "\e00d"
.fa-visitors:before
   content: "\e00e"
.fa-link:before
   content: "\e00f"
.fa-posts:before
  content: "\e010"
.fa-empty:before
  content: "\e011"
.fa-weibo:before
  content: "\e012"
.fa-weichat:before
  content: "\e013"
.fa-github:before
  content: "\e014"
.fa-email:before
  content: "\e015"
.fa-toc:before
  content: "\e016"
