// iconfont
.fa
  font-size: 16px
  font-style: normal
  &:before
    font-family: iconfont!important
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: auto
.fa-home:before
  content: "\e001"
.fa-gui:before
  content: "\e002"
.fa-user:before
  content: "\e003"
.fa-rss:before
  content: "\e004"
.fa-rili:before
  content: "\e005"
.fa-commt:before
  content: "\e006"
.fa-sou:before
  content: "\e007"
.fa-biao:before
  content: "\e008"
.fa-fei:before
  content: "\e009"
.fa-archive:before
  content: "\e00a"
.fa-you:before
  content: "\e00b"
.fa-huo:before
  content: "\e00c"
.fa-hit:before
  content: "\e00d"
.fa-right:before
  content: "\e00e"
.fa-left:before
  content: "\e00f"
.fa-xie:before
  content: "\e010"
.fa-empty:before
  content: "\e011"
.fa-weibo:before
  content: "\e012"
.fa-weixin:before
  content: "\e013"
.fa-github:before
  content: "\e014"
.fa-email:before
  content: "\e015"